<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1638</integer>
    <key>capHeight</key>
    <integer>1025</integer>
    <key>copyright</key>
    <string>Copyright 2025 The Kanz Al Marjaan Project Authors (https://github.com/HatimMasvi/Kanz-al-Marjaan)</string>
    <key>descender</key>
    <integer>-410</integer>
    <key>familyName</key>
    <string>Kanz Al Marjaan</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>m</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>512</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeGaspRangeRecords</key>
    <array>
      <dict>
        <key>rangeGaspBehavior</key>
        <array>
          <integer>0</integer>
          <integer>1</integer>
          <integer>2</integer>
          <integer>3</integer>
        </array>
        <key>rangeMaxPPEM</key>
        <integer>65535</integer>
      </dict>
    </array>
    <key>openTypeHeadCreated</key>
    <string>2016/03/03 16:07:00</string>
    <key>openTypeHeadFlags</key>
    <array/>
    <key>openTypeHheaAscender</key>
    <integer>2220</integer>
    <key>openTypeHheaCaretOffset</key>
    <integer>0</integer>
    <key>openTypeHheaDescender</key>
    <integer>-1503</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDescription</key>
    <string>Kanz Al Marjaan is an Arabic typeface used by the Dawoodi Bohra community for setting text and books.</string>
    <key>openTypeNameDesigner</key>
    <string>Sh Moiz Sh Zohair bhai</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at https://openfontlicense.org</string>
    <key>openTypeNameLicenseURL</key>
    <string>https://openfontlicense.org</string>
    <key>openTypeNameManufacturer</key>
    <string>Sh Moiz Sh Zohair bhai</string>
    <key>openTypeNamePreferredFamilyName</key>
    <string>Kanz Al Marjaan</string>
    <key>openTypeNamePreferredSubfamilyName</key>
    <string>Regular</string>
    <key>openTypeNameVersion</key>
    <string>Version 2.00;May 30, 2025;</string>
    <key>openTypeOS2CodePageRanges</key>
    <array>
      <integer>0</integer>
      <integer>6</integer>
    </array>
    <key>openTypeOS2Panose</key>
    <array>
      <integer>3</integer>
      <integer>2</integer>
      <integer>5</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2StrikeoutPosition</key>
    <integer>504</integer>
    <key>openTypeOS2StrikeoutSize</key>
    <integer>97</integer>
    <key>openTypeOS2SubscriptXOffset</key>
    <integer>0</integer>
    <key>openTypeOS2SubscriptXSize</key>
    <integer>1365</integer>
    <key>openTypeOS2SubscriptYOffset</key>
    <integer>279</integer>
    <key>openTypeOS2SubscriptYSize</key>
    <integer>1267</integer>
    <key>openTypeOS2SuperscriptXOffset</key>
    <integer>0</integer>
    <key>openTypeOS2SuperscriptXSize</key>
    <integer>1365</integer>
    <key>openTypeOS2SuperscriptYOffset</key>
    <integer>883</integer>
    <key>openTypeOS2SuperscriptYSize</key>
    <integer>1267</integer>
    <key>openTypeOS2Type</key>
    <array>
      <integer>2</integer>
    </array>
    <key>openTypeOS2TypoAscender</key>
    <integer>2220</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-1503</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2UnicodeRanges</key>
    <array>
      <integer>0</integer>
      <integer>13</integer>
      <integer>31</integer>
      <integer>63</integer>
      <integer>67</integer>
    </array>
    <key>openTypeOS2VendorID</key>
    <string></string>
    <key>openTypeOS2WeightClass</key>
    <integer>400</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>2220</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>1503</integer>
    <key>postscriptBlueFuzz</key>
    <integer>1</integer>
    <key>postscriptBlueScale</key>
    <real>0.039625</real>
    <key>postscriptBlueShift</key>
    <integer>7</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-20</integer>
      <integer>0</integer>
    </array>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptFontName</key>
    <string>KanzAlMarjaan-Regular</string>
    <key>postscriptForceBold</key>
    <false/>
    <key>postscriptFullName</key>
    <string>Kanz Al Marjaan Regular</string>
    <key>postscriptIsFixedPitch</key>
    <false/>
    <key>postscriptOtherBlues</key>
    <array/>
    <key>postscriptStemSnapH</key>
    <array/>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>postscriptUnderlinePosition</key>
    <integer>-380</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>19</integer>
    <key>postscriptWeightName</key>
    <string>Regular</string>
    <key>styleMapFamilyName</key>
    <string>Kanz Al Marjaan</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Regular</string>
    <key>unitsPerEm</key>
    <integer>2048</integer>
    <key>versionMajor</key>
    <integer>2</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <integer>762</integer>
  </dict>
</plist>
