<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>isol</key>
    <array>
      <string>uni0631</string>
      <string>uni0632</string>
      <string>uni0644</string>
      <string>uni0646</string>
      <string>uni0648</string>
      <string>uni0649</string>
      <string>uni064A</string>
      <string>uni0676</string>
      <string>uni0677</string>
      <string>uni0691</string>
      <string>uni06BA</string>
    </array>
    <key>isol2</key>
    <array>
      <string>uni0621</string>
      <string>uni0622</string>
      <string>uni0623</string>
      <string>uni0624</string>
      <string>uni0625</string>
      <string>uni0627</string>
      <string>uni0629</string>
      <string>uni062F</string>
      <string>uni0630</string>
      <string>uni0631</string>
      <string>uni0632</string>
      <string>uni0648</string>
      <string>uni06D5</string>
      <string>uni0688</string>
      <string>uni0691</string>
      <string>uni06D2</string>
      <string>uni06C0</string>
      <string>uni06D3</string>
      <string>uni0671</string>
      <string>uni0672</string>
      <string>uni0673</string>
      <string>uni0674</string>
      <string>uni0675</string>
      <string>uni0676</string>
      <string>uni0677</string>
      <string>uniFB51</string>
      <string>uniFB89</string>
      <string>uniFB8D</string>
      <string>uniFBA5</string>
      <string>uniFBAF</string>
      <string>uniFBB1</string>
      <string>uniFBD8</string>
      <string>uniFE82</string>
      <string>uniFE84</string>
      <string>uniFE86</string>
      <string>uniFE88</string>
      <string>uniFE8E</string>
      <string>uniFE94</string>
      <string>uniFEAA</string>
      <string>uniFEAC</string>
      <string>uniFEAE</string>
      <string>uniFEB0</string>
      <string>uniFEEE</string>
      <string>uniFEF5</string>
      <string>uniFEF6</string>
      <string>uniFEF7</string>
      <string>uniFEF8</string>
      <string>uniFEF9</string>
      <string>uniFEFA</string>
      <string>uniFEFB</string>
      <string>uniFEFC</string>
      <string>uni0627.short.fina</string>
      <string>uni0672.fina</string>
      <string>uni0673.fina</string>
      <string>uni0675.fina</string>
      <string>uni0676.fina</string>
      <string>lamalefarab.alt1.isol</string>
      <string>lamalefarab.alt1.fina</string>
    </array>
    <key>isol3</key>
    <array>
      <string>uni064B</string>
      <string>uni064C</string>
      <string>uni064E</string>
      <string>uni064F</string>
      <string>uni0651</string>
      <string>uni0652</string>
      <string>uni0653</string>
      <string>uni0654</string>
      <string>uni0670</string>
      <string>uni06D6</string>
      <string>uni06D7</string>
      <string>uni06D8</string>
      <string>uni06D9</string>
      <string>uni06DA</string>
      <string>uni06DB</string>
      <string>uni06DC</string>
      <string>uni06DF</string>
      <string>uni06E0</string>
      <string>uni06E1</string>
      <string>uni06E2</string>
      <string>uni06E4</string>
      <string>uni06E7</string>
      <string>uni06E8</string>
      <string>uni06EB</string>
      <string>uni06EC</string>
      <string>uni0651064B</string>
      <string>uni0651064C</string>
      <string>uni0651064D</string>
      <string>uni0651064E</string>
      <string>uni0651064F</string>
      <string>uni06510650</string>
      <string>uni06510670</string>
      <string>uni0654064E</string>
      <string>uni0654064F</string>
      <string>uni06540652</string>
    </array>
    <key>isol_liga</key>
    <array>
      <string>uni0624</string>
      <string>uni0631</string>
      <string>uni0632</string>
      <string>uni0648</string>
      <string>uni0691</string>
      <string>uni0676</string>
      <string>uni0677</string>
      <string>uniFB8D</string>
      <string>uniFC64</string>
      <string>uniFC65</string>
      <string>uniFC6A</string>
      <string>uniFC6B</string>
      <string>uniFC70</string>
      <string>uniFC71</string>
      <string>uniFC76</string>
      <string>uniFC77</string>
      <string>uniFC8A</string>
      <string>uniFC8B</string>
      <string>uniFC91</string>
      <string>uniFC92</string>
      <string>uniFE86</string>
      <string>uniFEAE</string>
      <string>uniFEB0</string>
      <string>uni06790631.fina</string>
      <string>uni06790632.fina</string>
      <string>uni06260691.fina</string>
      <string>uni06280691.fina</string>
      <string>uni062A0691.fina</string>
      <string>uni062B0691.fina</string>
      <string>uni06460691.fina</string>
      <string>uni064A0691.fina</string>
      <string>uni06790691.fina</string>
      <string>liga.behrehfina</string>
      <string>newReReplacement</string>
      <string>newNunGunnaReplacemet</string>
      <string>newZeReplacement</string>
      <string>newNunGunnaReplacement</string>
      <string>glyph2244</string>
      <string>glyph2245</string>
      <string>glyph2246</string>
      <string>glyph2247</string>
      <string>glyph2248</string>
    </array>
    <key>liga</key>
    <array>
      <string>uniFB58</string>
      <string>uniFB59</string>
      <string>uniFB68</string>
      <string>uniFB69</string>
      <string>uniFBA8</string>
      <string>uniFBE8</string>
      <string>uniFBE9</string>
      <string>uniFBFE</string>
      <string>uniFBFF</string>
      <string>uniFE8B</string>
      <string>uniFE8C</string>
      <string>uniFE91</string>
      <string>uniFE92</string>
      <string>uniFE97</string>
      <string>uniFE98</string>
      <string>uniFE9B</string>
      <string>uniFE9C</string>
      <string>uniFEE7</string>
      <string>uniFEE8</string>
    </array>
    <key>liga2</key>
    <array>
      <string>uniFB59</string>
      <string>uniFB69</string>
      <string>uniFBE9</string>
      <string>uniFBFF</string>
      <string>uniFE8C</string>
      <string>uniFE92</string>
      <string>uniFE98</string>
      <string>uniFE9C</string>
      <string>uniFEE8</string>
    </array>
    <key>liga3</key>
    <array>
      <string>uniFB58</string>
      <string>uniFB68</string>
      <string>uniFBA8</string>
      <string>uniFBE8</string>
      <string>uniFBFE</string>
      <string>uniFE8B</string>
      <string>uniFE91</string>
      <string>uniFE97</string>
      <string>uniFE9B</string>
      <string>uniFEE7</string>
    </array>
    <key>liga4</key>
    <array>
      <string>uni0626.tall.medi</string>
      <string>uni0628.tall.medi</string>
      <string>uni062A.tall.medi</string>
      <string>uni062B.tall.medi</string>
      <string>uni0646.tall.medi</string>
      <string>uni064A.tall.medi</string>
      <string>uni0679.tall.medi</string>
      <string>uni067E.tall.medi</string>
      <string>uighurkazakhkirghizalefmaksuraarab.tall.medi</string>
      <string>uni0628.lowtall.medi</string>
      <string>uni064A.lowtall.medi</string>
      <string>uni067E.lowtall.medi</string>
    </array>
    <key>liga5</key>
    <array>
      <string>uniFD17</string>
      <string>uniFD18</string>
      <string>uniFD19</string>
      <string>uniFD1A</string>
      <string>uniFD29</string>
      <string>uniFD2A</string>
      <string>uniFEB2</string>
      <string>uniFEB4</string>
      <string>uniFEB6</string>
      <string>uniFEB8</string>
      <string>uni063306D2.fina</string>
      <string>uni06330632.fina</string>
      <string>uni06340632.fina</string>
    </array>
    <key>liga6</key>
    <array>
      <string>uniFC80</string>
      <string>uniFC81</string>
      <string>uniFCEB</string>
      <string>uniFEB2</string>
      <string>uniFEB4</string>
      <string>uniFEB6</string>
      <string>uniFEB8</string>
      <string>uniFEBA</string>
      <string>uniFEBC</string>
      <string>uniFEBE</string>
      <string>uniFEC0</string>
      <string>uniFEC2</string>
      <string>uniFEC4</string>
      <string>uniFEC6</string>
      <string>uniFEC8</string>
      <string>uniFECA</string>
      <string>uniFECC</string>
      <string>uniFECE</string>
      <string>uniFED0</string>
      <string>uniFED2</string>
      <string>uniFED4</string>
      <string>uniFED6</string>
      <string>uniFED8</string>
      <string>uniFEEE</string>
      <string>uni064306440627.fina</string>
      <string>uni064306440627.finashort</string>
      <string>uni06AF0627.liga.medi.fina</string>
      <string>glyph1907</string>
      <string>gaf_lamalefarab.liga.medi.fina</string>
      <string>gaf_lamalefarab.alt1.liga.medi.fina</string>
      <string>uni06AF0644.liga.medi.fina</string>
      <string>uni06AF0644.liga.medi.medi</string>
    </array>
    <key>liga7</key>
    <array>
      <string>uniFB57</string>
      <string>uniFB59</string>
      <string>uniFB67</string>
      <string>uniFB69</string>
      <string>uniFB89</string>
      <string>uniFB8D</string>
      <string>uniFB93</string>
      <string>uniFB9F</string>
      <string>uniFE90</string>
      <string>uniFE92</string>
      <string>uniFE96</string>
      <string>uniFE98</string>
      <string>uniFE9A</string>
      <string>uniFE9C</string>
      <string>uniFEAE</string>
      <string>uniFEB0</string>
      <string>uniFEDA</string>
      <string>uniFEDE</string>
      <string>uniFEE0</string>
      <string>uniFEE6</string>
      <string>uniFEE8</string>
      <string>uni0628.tall.medi</string>
      <string>uni062A.tall.medi</string>
      <string>uni062B.tall.medi</string>
      <string>uni0646.tall.medi</string>
      <string>uni0679.tall.medi</string>
      <string>uni067E.tall.medi</string>
    </array>
    <key>liga8</key>
    <array>
      <string>uni0626.tall.medi</string>
      <string>uni0628.tall.medi</string>
      <string>uni062A.tall.medi</string>
      <string>uni062B.tall.medi</string>
      <string>uni0646.tall.medi</string>
      <string>uni064A.tall.medi</string>
      <string>uni0679.tall.medi</string>
      <string>uni067E.tall.medi</string>
      <string>uighurkazakhkirghizalefmaksuraarab.tall.medi</string>
    </array>
    <key>liga9</key>
    <array>
      <string>uniFC64</string>
      <string>uniFC65</string>
      <string>uniFC66</string>
      <string>uniFC67</string>
      <string>uniFC6A</string>
      <string>uniFC6C</string>
      <string>uniFC6D</string>
      <string>uniFC70</string>
      <string>uniFC71</string>
      <string>uniFC72</string>
      <string>uniFC73</string>
      <string>uniFC76</string>
      <string>uniFC77</string>
      <string>uniFC78</string>
      <string>uniFC79</string>
      <string>uniFC8A</string>
      <string>uniFC8B</string>
      <string>uniFC8C</string>
      <string>uniFC8D</string>
      <string>uniFC91</string>
      <string>uniFC92</string>
      <string>uniFC93</string>
      <string>uniFC94</string>
      <string>uni06790631.fina</string>
      <string>uni067D0631.fina</string>
      <string>uni06790632.fina</string>
      <string>uni067D0632.fina</string>
      <string>uni06260691.fina</string>
      <string>uni06280691.fina</string>
      <string>uni062B0691.fina</string>
      <string>uni06460691.fina</string>
      <string>uni064A0691.fina</string>
      <string>uni06790691.fina</string>
      <string>uni067D0691.fina</string>
      <string>uni062606450627.fina</string>
      <string>uni062806450627.fina</string>
      <string>uni062A06450627.fina</string>
      <string>uni062B06450627.fina</string>
      <string>uni064606450627.fina</string>
      <string>uni064A06450627.fina</string>
      <string>uni067906450627.fina</string>
      <string>uni067D06450627.fina</string>
      <string>uni067D0645.fina</string>
      <string>uni06790646.fina</string>
      <string>uni067D0646.fina</string>
      <string>uni062606BA.fina</string>
      <string>uni062A06BA.fina</string>
      <string>uni062B06BA.fina</string>
      <string>uni064606BA.fina</string>
      <string>uni064A06BA.fina</string>
      <string>uni067906BA.fina</string>
      <string>uni067D06BA.fina</string>
      <string>uni0628062806D2.liga.medi.medi.fina</string>
      <string>uni0628064606D2.liga.medi.medi.fina</string>
      <string>uni0628062A06D2.liga.medi.medi.fina</string>
      <string>uni0628064A06D2.liga.medi.medi.fina</string>
      <string>uni0628062B06D2.liga.medi.medi.fina</string>
      <string>uni0628067E06D2.liga.medi.medi.fina</string>
      <string>uni0628062606D2.liga.medi.medi.fina</string>
      <string>uni0628067906D2.liga.medi.medi.fina</string>
      <string>uni0646062806D2.liga.medi.medi.fina</string>
      <string>uni0646064606D2.liga.medi.medi.fina</string>
      <string>uni0646062A06D2.liga.medi.medi.fina</string>
      <string>uni0646064A06D2.liga.medi.medi.fina</string>
      <string>uni0646062B06D2.liga.medi.medi.fina</string>
      <string>uni0646067E06D2.liga.medi.medi.fina</string>
      <string>uni0646062606D2.liga.medi.medi.fina</string>
      <string>uni0646067906D2.liga.medi.medi.fina</string>
      <string>uni062A064606D2.liga.medi.medi.fina</string>
      <string>uni062A062806D2.liga.medi.medi.fina</string>
      <string>uni062A062A06D2.liga.medi.medi.fina</string>
      <string>uni062A064A06D2.liga.medi.medi.fina</string>
      <string>uni062A062B06D2.liga.medi.medi.fina</string>
      <string>uni062A067E06D2.liga.medi.medi.fina</string>
      <string>uni062A062606D2.liga.medi.medi.fina</string>
      <string>uni062A067906D2.liga.medi.medi.fina</string>
      <string>uni064A062B06D2.liga.medi.medi.fina</string>
      <string>uni064A067E06D2.liga.medi.medi.fina</string>
      <string>uni064A062606D2.liga.medi.medi.fina</string>
      <string>uni064A067906D2.liga.medi.medi.fina</string>
      <string>uni062B064606D2.liga.medi.medi.fina</string>
      <string>uni062B062806D2.liga.medi.medi.fina</string>
      <string>uni062B062A06D2.liga.medi.medi.fina</string>
      <string>uni062B064A06D2.liga.medi.medi.fina</string>
      <string>uni062B062B06D2.liga.medi.medi.fina</string>
      <string>uni062B067E06D2.liga.medi.medi.fina</string>
      <string>uni062B062606D2.liga.medi.medi.fina</string>
      <string>uni062B067906D2.liga.medi.medi.fina</string>
      <string>uni067E062806D2.liga.medi.medi.fina</string>
      <string>uni067E064606D2.liga.medi.medi.fina</string>
      <string>uni067E064A06D2.liga.medi.medi.fina</string>
      <string>uni067E062A06D2.liga.medi.medi.fina</string>
      <string>uni067E062B06D2.liga.medi.medi.fina</string>
      <string>uni067E067E06D2.liga.medi.medi.fina</string>
      <string>uni067E062606D2.liga.medi.medi.fina</string>
      <string>uni067E067906D2.liga.medi.medi.fina</string>
      <string>uni0626062806D2.liga.medi.medi.fina</string>
      <string>uni0626064606D2.liga.medi.medi.fina</string>
      <string>uni0626064A06D2.liga.medi.medi.fina</string>
      <string>uni0626062A06D2.liga.medi.medi.fina</string>
      <string>uni0626062B06D2.liga.medi.medi.fina</string>
      <string>uni0626067E06D2.liga.medi.medi.fina</string>
      <string>uni0626062606D2.liga.medi.medi.fina</string>
      <string>uni0626067906D2.liga.medi.medi.fina</string>
      <string>uni0679062806D2.liga.medi.medi.fina</string>
      <string>uni0679064606D2.liga.medi.medi.fina</string>
      <string>uni0679062A06D2.liga.medi.medi.fina</string>
      <string>uni0679064A06D2.liga.medi.medi.fina</string>
      <string>uni0679062B06D2.liga.medi.medi.fina</string>
      <string>uni0679067E06D2.liga.medi.medi.fina</string>
      <string>uni0679062606D2.liga.medi.medi.fina</string>
      <string>uni0679067906D2.liga.medi.medi.fina</string>
      <string>uni064606BE.liga.medi.medi</string>
      <string>uni062806BE.liga.medi.medi</string>
      <string>uni062A06BE.liga.medi.medi</string>
      <string>uni064A06BE.liga.medi.medi</string>
      <string>uni062B06BE.liga.medi.medi</string>
      <string>uni067E06BE.liga.medi.medi</string>
      <string>uni062606BE.liga.medi.medi</string>
      <string>uni067906BE.liga.medi.medi</string>
      <string>uni062806BE06D2.liga.medi.medi.fina</string>
      <string>uni064606BE06D2.liga.medi.medi.fina</string>
      <string>uni062A06BE06D2.liga.medi.medi.fina</string>
      <string>uni064A06BE06D2.liga.medi.medi.fina</string>
      <string>uni062B06BE06D2.liga.medi.medi.fina</string>
      <string>uni067E06BE06D2.liga.medi.medi.fina</string>
      <string>uni062606BE06D2.liga.medi.medi.fina</string>
      <string>uni067906BE06D2.liga.medi.medi.fina</string>
    </array>
  </dict>
</plist>
